{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<main class="container mt-5">
    <h1>O nas</h1>
    <p>Jesteśmy zespołem studentów, którzy pracują nad projektem aplikacji do obsługi streamu na żywo z ramienia robota. Nasza przygoda rozpoczęła się w styczniu 2024 roku, 
kiedy to po raz pierwszy spotkaliśmy się w siedzibie Nokii we Wrocławiu. Od tamtego czasu rozwijamy naszą aplikację Naszym celem jest umożliwienie ludziom na całym świecie 
wykonywanie złożonych czynności za pomocą robotycznego ramienia, transmitując każdy ruch w czasie rzeczywistym.</p>

    </main>
{% endblock %}
